# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log